# Ignore
/configs/fms_data_manager_backups
/configs/flywithlua_scripts/
/configs/preferences
/docs/issues
/junctions/Global Scenery/
/junctions/screenshots/
/junctions/tmp/
/junctions/Scripts/
/junctions/Aircraft/
/licenses
/performance_tests/
/tools/

# but not
!junctions/Scripts/myarcaze.lua
!junctions/Scripts/arcaze_scripts/*
!junctions/Scripts/weisair_scripts/*
