require "arcaze"

for i, dev in ipairs(ALL_HID_DEVICES) do
	if (dev.vendor_id == 5776) and (dev.product_id == 65043) then
		if dev.product_string == "B2_AP_PNL" then
			my_arcaze_board = hid_open_path(dev.path)
		else
			logMsg("FlyWithLua Warning: Unknown / New Arcaze device found!")
		end
	end
end


if my_arcaze_board == nil then
	logMsg("Arcaze Board 1 has not been found!")


else

	print("Aircraft Script for Saab 340A ( ",  AIRCRAFT_FILENAME, " ) has been loaded")
	
	BOARD_A01=0
	BOARD_A02=1
	BOARD_A03=2
	BOARD_A04=3
	BOARD_A05=4
	BOARD_A06=5
	BOARD_A07=6
	BOARD_A08=7
	BOARD_A09=8
	BOARD_A10=9
	BOARD_A11=10
	BOARD_A12=11
	BOARD_A13=12
	BOARD_A14=13
	BOARD_A15=14
	BOARD_A16=15
	BOARD_A17=16
	BOARD_A18=17
	BOARD_A19=18
	BOARD_A20=19
	BOARD_B01=20
	BOARD_B02=21
	BOARD_B03=22
	BOARD_B04=23
	BOARD_B05=24
	BOARD_B06=25
	BOARD_B07=26
	BOARD_B08=27
	BOARD_B09=28
	BOARD_B10=29
	BOARD_B11=30
	BOARD_B12=31
	BOARD_B13=32
	BOARD_B14=33
	BOARD_B15=34
	BOARD_B16=35
	BOARD_B17=36
	BOARD_B18=37
	BOARD_B19=38
	BOARD_B20=39
	
	dataref("fire_warn", "LES/saab/annun/master_warning", "readable")
	dataref("master_warn", "LES/saab/annun/master_caution", "readable")
	dataref("parking_break", "sim/cockpit2/controls/parking_brake_ratio","readable") 
	dataref("ap_status", "LES/saab/autopilot/APCP/lever/AP_engage_disengage","readable")
	dataref("yd_status", "LES/saab/autopilot/APCP/lever/YD_engage_disengage","readable")
	dataref("alt_mode", "LES/saab/annun/MSP/alt","readable")
	dataref("vs_mode", "LES/saab/annun/MSP/vs","readable")
	dataref("hdg_mode", "LES/saab/annun/MSP/hdg","readable")
	dataref("appr_mode", "LES/saab/annun/MSP/appr","readable")
	dataref("ias_mode", "LES/saab/annun/MSP/ias","readable")
	dataref("climb_mode", "LES/saab/annun/MSP/climb","readable")
	dataref("nav_mode", "LES/saab/annun/MSP/nav","readable")
	
	local clock = os.clock
	function sleep(n)  -- seconds
	  local t0 = clock()
	  while clock() - t0 <= n do end
	end
	
	
	function testLEDs(state)
		
		arcaze.set_pin(my_arcaze_board,BOARD_B03,state)	
		arcaze.set_pin(my_arcaze_board,BOARD_B04,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B05,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B06,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B07,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B08,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B09,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B10,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B11,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B12,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B13,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B14,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B15,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B16,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B17,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B18,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B19,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B20,state)
	
	end

-- TEST LEDs Start

	testLEDs(1)
	sleep(3)
	testLEDs(0)
	
-- TEST LEDs End

	
	function setFireWarnLED()
		
		if (fire_warn < 0.3) then arcaze.set_pin(my_arcaze_board,BOARD_B03,0) end
		if (fire_warn > 0.3) then arcaze.set_pin(my_arcaze_board,BOARD_B03,1)
		else logMsg("not expected fire_warn value: ", fire_warn)
		end
		
	end

	function setMasterWarnLED()
				
		if (master_warn < 0.3) then arcaze.set_pin(my_arcaze_board,BOARD_B04,0) end
		if (master_warn > 0.3) then arcaze.set_pin(my_arcaze_board,BOARD_B04,1)
		else logMsg("not expected master_warn value: ", master_warn)
		end
		
	end

	function setParkingBreakLED()
		
		if (parking_break == 0 or parking_break == 1) then arcaze.set_pin(my_arcaze_board,BOARD_B05,parking_break)								
		else logMsg("not expected parking_break value: ", parking_break)
		end
		
	end
	
	function setAPStatusLED()
		
		if (ap_status == 0 or ap_status == 1) then arcaze.set_pin(my_arcaze_board,BOARD_B09,ap_status)								
		else logMsg("not expected ap_status value: ", ap_status)
		end		
		
	end
	
	function setYDStatusLED()
	
	if (yd_status == 0 or yd_status == 1) then arcaze.set_pin(my_arcaze_board,BOARD_B10,ap_status)								
	else logMsg("not expected yd_status value: ", yd_status)
	end		
		
	end
	
	function setVSModeLED()
		
		if (vs_mode == 0.0) then arcaze.set_pin(my_arcaze_board,BOARD_B20,0) end
		if (vs_mode >= 0.9) then arcaze.set_pin(my_arcaze_board,BOARD_B20,1)								
		else logMsg("not expected vs_mode value: ", vs_mode)
		end			
	end
	
	function setHDGModeLED()
		
		if (hdg_mode == 0.0) then arcaze.set_pin(my_arcaze_board,BOARD_B17,0) end
		if (hdg_mode >= 0.9) then arcaze.set_pin(my_arcaze_board,BOARD_B17,1)								
		else logMsg("not expected hdg_mode value: ", hdg_mode)
		end			
	end
	
	function setALTModeLED()
		
		if (alt_mode == 0.0) then arcaze.set_pin(my_arcaze_board,BOARD_B19,0) end
		if (alt_mode >= 0.9) then arcaze.set_pin(my_arcaze_board,BOARD_B19,1)								
		else logMsg("not expected alt_mode value: ", alt_mode)
		end			
	end
	
	function setCLIMBModeLED()
		
		if (climb_mode == 0.0) then arcaze.set_pin(my_arcaze_board,BOARD_B12,0) end
		if (climb_mode >= 0.9) then arcaze.set_pin(my_arcaze_board,BOARD_B12,1)								
		else logMsg("not expected climb_mode value: ", climb_mode)
		end			
	end
	
	function setNAVModeLED()
		
		if (nav_mode == 0.0) then arcaze.set_pin(my_arcaze_board,BOARD_B08,0) end
		if (nav_mode >= 0.9) then arcaze.set_pin(my_arcaze_board,BOARD_B08,1)								
		else logMsg("not expected nav_mode value: ", nav_mode)
		end			
	end
	
	function setAPPRModeLED()
		
		if (appr_mode == 0.0) then arcaze.set_pin(my_arcaze_board,BOARD_B18,0) end
		if (appr_mode >= 0.9) then arcaze.set_pin(my_arcaze_board,BOARD_B18,1)								
		else logMsg("not expected appr_mode value: ", appr_mode)
		end			
	end
	
	function setIASModeLED()
		
		if (ias_mode == 0.0) then arcaze.set_pin(my_arcaze_board,BOARD_B11,0) end
		if (ias_mode >= 0.9) then arcaze.set_pin(my_arcaze_board,BOARD_B11,1)								
		else logMsg("not expected ias_mode value: ", ias_mode)
		end			
	end	

	
	do_every_frame("setFireWarnLED()")
	do_every_frame("setMasterWarnLED()")
	do_every_frame("setParkingBreakLED()")
	do_every_frame("setAPStatusLED()")
	do_every_frame("setYDStatusLED()")
	do_every_frame("setVSModeLED()")
	do_every_frame("setALTModeLED()")
	do_every_frame("setAPPRModeLED()")
	do_every_frame("setNAVModeLED()")
	do_every_frame("setHDGModeLED()")	
	do_every_frame("setCLIMBModeLED()")
	do_every_frame("setIASModeLED()")
	
	do_on_exit("testLEDs(0)")

end