require "arcaze"

for i, dev in ipairs(ALL_HID_DEVICES) do
	if (dev.vendor_id == 5776) and (dev.product_id == 65043) then
		if dev.product_string == "B2_AP_PNL" then
			my_arcaze_board = hid_open_path(dev.path)
		else
			logMsg("FlyWithLua Warning: Unknown / New Arcaze device found!")
		end
	end
end


if my_arcaze_board == nil then
	logMsg("Arcaze Board 2 has not been found!")

else

	print("Aircraft Script for Cessna C172 ( ",  AIRCRAFT_FILENAME, " ) has been loaded")
	
	BOARD_A01=0
	BOARD_A02=1
	BOARD_A03=2
	BOARD_A04=3
	BOARD_A05=4
	BOARD_A06=5
	BOARD_A07=6
	BOARD_A08=7
	BOARD_A09=8
	BOARD_A10=9
	BOARD_A11=10
	BOARD_A12=11
	BOARD_A13=12
	BOARD_A14=13
	BOARD_A15=14
	BOARD_A16=15
	BOARD_A17=16
	BOARD_A18=17
	BOARD_A19=18
	BOARD_A20=19
	BOARD_B01=20
	BOARD_B02=21
	BOARD_B03=22
	BOARD_B04=23
	BOARD_B05=24
	BOARD_B06=25
	BOARD_B07=26
	BOARD_B08=27
	BOARD_B09=28
	BOARD_B10=29
	BOARD_B11=30
	BOARD_B12=31
	BOARD_B13=32
	BOARD_B14=33
	BOARD_B15=34
	BOARD_B16=35
	BOARD_B17=36
	BOARD_B18=37
	BOARD_B19=38
	BOARD_B20=39


	dataref("parking_break", "sim/cockpit2/controls/parking_brake_ratio","readable")
	dataref("master_volume_current", "sim/operation/sound/master_volume_ratio", "writable")

	
	local clock = os.clock
	function sleep(n)  -- seconds
	  local t0 = clock()
	  while clock() - t0 <= n do end
	end
	
	function testLEDs(state)
		
		arcaze.set_pin(my_arcaze_board,BOARD_B03,state)	
		arcaze.set_pin(my_arcaze_board,BOARD_B04,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B05,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B06,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B07,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B08,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B09,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B10,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B11,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B12,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B13,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B14,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B15,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B16,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B17,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B18,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B19,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B20,state)
	
	end

-- TEST LEDs Start

	testLEDs(1)
	sleep(3)
	testLEDs(0)
	
-- TEST LEDs End

	
	function setParkingBreakLED()
		
		if (parking_break == 0 or parking_break == 1) then arcaze.set_pin(my_arcaze_board,BOARD_B05,parking_break)	end
		
	end
	
	function master_volume_control()
	
		readADC2_current = readADC2()
		master_volume_current = readADC2_current/1016
	
	end
	
	do_every_frame("setParkingBreakLED()")
	--do_every_frame("master_volume_control()")
	do_on_exit("testLEDs(0)")

end