require "arcaze"

for i, dev in ipairs(ALL_HID_DEVICES) do
	if (dev.vendor_id == 5776) and (dev.product_id == 65043) then
		if dev.product_string == "SwitchPnl" then
			my_arcaze_board_switch_panel = hid_open_path(dev.path)
		end
		
		logMsg("FlyWithLua Warning: Unknown / New Arcaze device found!")

	end
end


if my_arcaze_board == nil then
	logMsg("Arcaze Board 1 has not been found!")


else

	print("Aircraft Script for LR aircraft ( ",  AIRCRAFT_FILENAME, " ) has been loaded")
	
	BOARD_A01=0
	BOARD_A02=1
	BOARD_A03=2
	BOARD_A04=3
	BOARD_A05=4
	BOARD_A06=5
	BOARD_A07=6
	BOARD_A08=7
	BOARD_A09=8
	BOARD_A10=9
	BOARD_A11=10
	BOARD_A12=11
	BOARD_A13=12
	BOARD_A14=13
	BOARD_A15=14
	BOARD_A16=15
	BOARD_A17=16
	BOARD_A18=17
	BOARD_A19=18
	BOARD_A20=19
	BOARD_B01=20
	BOARD_B02=21
	BOARD_B03=22
	BOARD_B04=23
	BOARD_B05=24
	BOARD_B06=25
	BOARD_B07=26
	BOARD_B08=27
	BOARD_B09=28
	BOARD_B10=29
	BOARD_B11=30
	BOARD_B12=31
	BOARD_B13=32
	BOARD_B14=33
	BOARD_B15=34
	BOARD_B16=35
	BOARD_B17=36
	BOARD_B18=37
	BOARD_B19=38
	BOARD_B20=39


	dataref("parking_break_generic", "sim/flightmodel/controls/parkbrake", "readable")	
	
	local clock = os.clock
	function sleep(n)  -- seconds
	  local t0 = clock()
	  while clock() - t0 <= n do end
	end
	
	function testLEDs(state)
		
		arcaze.set_pin(my_arcaze_board_switch_panel,BOARD_B01,state) -- LED Park Brake 	
		arcaze.set_pin(my_arcaze_board_switch_panel,BOARD_B02,state) -- LED Left Gear GREEN	
		arcaze.set_pin(my_arcaze_board_switch_panel,BOARD_B03,state) -- LED Nose Gear GREEN		
		arcaze.set_pin(my_arcaze_board_switch_panel,BOARD_B04,state) -- LED Right Gear GREEN	
		arcaze.set_pin(my_arcaze_board_switch_panel,BOARD_B05,state) -- LED Nose Gear RED
		arcaze.set_pin(my_arcaze_board_switch_panel,BOARD_B06,state) -- LED Right Gear RED
		arcaze.set_pin(my_arcaze_board_switch_panel,BOARD_B07,state) -- LED Left Gear RED
	
	end

-- TEST LEDs Start

	testLEDs(1)
	sleep(3)
	testLEDs(0)
	
-- TEST LEDs End


	function setParkingBreakLED()
		
		if (parking_break_generic == 0 or parking_break_generic == 1) then arcaze.set_pin(my_arcaze_board_switch_panel,BOARD_B01,parking_break_generic) end					
			
	end

do_every_frame("setParkingBreakLED()")
do_on_exit("testLEDs(0)")

end