require "arcaze"

for i, dev in ipairs(ALL_HID_DEVICES) do
	if (dev.vendor_id == 5776) and (dev.product_id == 65043) then
		if dev.product_string == "B2_AP_PNL" then
			my_arcaze_board = hid_open_path(dev.path)
		else
			logMsg("FlyWithLua Warning: Unknown / New Arcaze device found!")
		end
	end
end


if my_arcaze_board == nil then
	logMsg("Arcaze Board 1 has not been found!")


else

	print("Aircraft Script for LR Airbus A330-300 ( ",  AIRCRAFT_FILENAME, " ) has been loaded")
	
	BOARD_A01=0
	BOARD_A02=1
	BOARD_A03=2
	BOARD_A04=3
	BOARD_A05=4
	BOARD_A06=5
	BOARD_A07=6
	BOARD_A08=7
	BOARD_A09=8
	BOARD_A10=9
	BOARD_A11=10
	BOARD_A12=11
	BOARD_A13=12
	BOARD_A14=13
	BOARD_A15=14
	BOARD_A16=15
	BOARD_A17=16
	BOARD_A18=17
	BOARD_A19=18
	BOARD_A20=19
	BOARD_B01=20
	BOARD_B02=21
	BOARD_B03=22
	BOARD_B04=23
	BOARD_B05=24
	BOARD_B06=25
	BOARD_B07=26
	BOARD_B08=27
	BOARD_B09=28
	BOARD_B10=29
	BOARD_B11=30
	BOARD_B12=31
	BOARD_B13=32
	BOARD_B14=33
	BOARD_B15=34
	BOARD_B16=35
	BOARD_B17=36
	BOARD_B18=37
	BOARD_B19=38
	BOARD_B20=39


--	dataref("fire_warn", "ixeg/733/firewarning/fire_warning_ann", "readable")
--	dataref("master_warn", "ixeg/733/bleedair/caution_master_ann", "readable")
--	dataref("parking_break", "ixeg/733/gear/parking_brake_ann", "readable")	
--	dataref("n1", "ixeg/733/MCP/mcp_n1_ann", "readable")
--	dataref("vnav", "ixeg/733/MCP/mcp_vnav_ann", "readable")
--	dataref("lnav", "ixeg/733/MCP/mcp_lnav_ann", "readable")
	dataref("cmd_a", "laminar/A333/annun/autopilot/ap1_mode", "readable")
	dataref("cmd_b", "laminar/A333/annun/autopilot/ap2_mode", "readable")
--	dataref("speed", "ixeg/733/MCP/mcp_speed_ann", "readable")
--	dataref("lvl_chg", "ixeg/733/MCP/mcp_level_change_ann", "readable")
	dataref("vor_loc", "laminar/A333/annun/autopilot/loc_mode", "readable")
--	dataref("cws_b", "ixeg/733/MCP/mcp_b_cws_ann", "readable")
--	dataref("vs", "ixeg/733/MCP/mcp_vs_ann", "readable")
	dataref("alt_hld", "laminar/A333/annun/autopilot/alt_mode", "readable")
	dataref("app", "laminar/A333/annun/autopilot/appr_mode", "readable")
--	dataref("hdg_sel", "ixeg/733/MCP/mcp_hdg_ann", "readable")
	dataref("flight_director_pt", "laminar/A333/annun/capt_flight_director_on", "readable")
	dataref("flight_director_cp", "laminar/A333/annun/fo_flight_director_on", "readable")
--	dataref("cws_a", "ixeg/733/MCP/mcp_a_cws_ann", "readable")
	
	local clock = os.clock
	function sleep(n)  -- seconds
	  local t0 = clock()
	  while clock() - t0 <= n do end
	end
	
	function testLEDs(state)
		
		arcaze.set_pin(my_arcaze_board,BOARD_B03,state)	
		arcaze.set_pin(my_arcaze_board,BOARD_B04,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B05,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B06,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B07,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B08,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B09,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B10,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B11,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B12,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B13,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B14,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B15,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B16,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B17,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B18,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B19,state)
		arcaze.set_pin(my_arcaze_board,BOARD_B20,state)
	
	end

-- TEST LEDs Start

	testLEDs(1)
	sleep(3)
	testLEDs(0)
	
-- TEST LEDs End


--	function setFireWarnLED()
--		
--		if (fire_warn > 0) then arcaze.set_pin(my_arcaze_board,BOARD_B03,1) end
--		if (fire_warn == 0) then arcaze.set_pin(my_arcaze_board,BOARD_B03,0) end										
--				
--	end
--
--	function setMasterWarnLED()
--					
--		if (master_warn > 0) then arcaze.set_pin(my_arcaze_board,BOARD_B04,1) end
--		if (master_warn == 0) then arcaze.set_pin(my_arcaze_board,BOARD_B04,0) end
--		
--	end
--
--	function setParkingBreakLED()
--		
--		if (parking_break > 0) then arcaze.set_pin(my_arcaze_board,BOARD_B05,1) end
--		if (parking_break == 0) then arcaze.set_pin(my_arcaze_board,BOARD_B05,0) end
--		
--	end
--
--	function setN1LED()
--		
--		if (n1 == 0 or n1 == 1) then arcaze.set_pin(my_arcaze_board,BOARD_B06,n1) end
--		
--	end
--
--	function setVnavLED()
--		
--		if (vnav == 0 or vnav == 1) then arcaze.set_pin(my_arcaze_board,BOARD_B07,vnav)	end
--		
--	end
--
--	function setLnavLED()
--		
--		if (lnav == 0 or lnav == 1) then arcaze.set_pin(my_arcaze_board,BOARD_B08,lnav) end								
--		
--	end

	function setCMDaLED()
		
		if (cmd_a == 0.0 or cmd_a == 1.0) then arcaze.set_pin(my_arcaze_board,BOARD_B09,cmd_a) end								

		
	end

	function setCMDbLED()
		
		if (cmd_b == 0.0 or cmd_b == 1.0) then arcaze.set_pin(my_arcaze_board,BOARD_B10,cmd_b) end								

		
	end

--	function setSpeedLED()
--		
--		if (speed == 0 or speed == 1) then arcaze.set_pin(my_arcaze_board,BOARD_B11,speed) end								
--
--		
--	end
--
--	function setLvlChgLED()
--		
--		if (lvl_chg == 0 or lvl_chg == 1) then arcaze.set_pin(my_arcaze_board,BOARD_B12,lvl_chg) end								
--
--	end
	
	function setVorLocLED()
		
		if (vor_loc == 0.0 or vor_loc == 1.0) then arcaze.set_pin(my_arcaze_board,BOARD_B13,vor_loc) end								
	
	end

--	function setCWSbLED()
--		
--		if (cws_b == 0 or cws_b == 1) then arcaze.set_pin(my_arcaze_board,BOARD_B15,cws_b) end							
--		
--	end
--	
--	function setVsLED()
--		
--		if (vs == 0 or vs == 1) then arcaze.set_pin(my_arcaze_board,BOARD_B20,vs) end								
--		
--	end

	function setAltHldLED()
		
		if (alt_hld == 0.0 or alt_hld == 1.0) then arcaze.set_pin(my_arcaze_board,BOARD_B19,alt_hld) end								
		
	end
	
	function setAppLED()
		
		if (app == 0.0 or app == 1.0) then arcaze.set_pin(my_arcaze_board,BOARD_B18,app) end								
		
	end

--	function setHdgSelLED()
--		
--		if (hdg_sel == 0 or hdg_sel == 1) then arcaze.set_pin(my_arcaze_board,BOARD_B17,hdg_sel) end								
--		
--	end
	
	function setFlightDirectorLED()
		
		if (flight_director_cp == 0.0 or flight_director_pt == 0.0) then arcaze.set_pin(my_arcaze_board,BOARD_B16,0) end								
		if (flight_director_cp == 1.0 or flight_director_pt == 1.0) then arcaze.set_pin(my_arcaze_board,BOARD_B16,1) end								
		
	end

--	function setCWSaLED()
--		
--		if (cws_a == 0 or cws_a == 1) then arcaze.set_pin(my_arcaze_board,BOARD_B14,cws_a) end								
--		
--	end

--	do_every_frame("setFireWarnLED()")
--	do_every_frame("setMasterWarnLED()")
--	do_every_frame("setParkingBreakLED()")
--	do_every_frame("setN1LED()")
--	do_every_frame("setVnavLED()")
--	do_every_frame("setLnavLED()")
	do_every_frame("setCMDaLED()")
	do_every_frame("setCMDbLED()")
--	do_every_frame("setSpeedLED()")
--	do_every_frame("setLvlChgLED()")
	do_every_frame("setVorLocLED()")
--	do_every_frame("setCWSbLED()")
--	do_every_frame("setVsLED()")
	do_every_frame("setAltHldLED()")
	do_every_frame("setAppLED()")
--	do_every_frame("setHdgSelLED()")
	do_every_frame("setFlightDirectorLED()")
--	do_every_frame("setCWSaLED()")
	do_on_exit("testLEDs(0)")

end