require "arcaze"
require "button_accel"

for i, dev in ipairs(ALL_HID_DEVICES) do
	if (dev.vendor_id == 5776) and (dev.product_id == 65043) then
		if dev.product_string == "SwitchPnl" then
			my_arcaze_board_switch_panel = hid_open_path(dev.path)
		end
		
		logMsg("FlyWithLua Warning: Unknown / New Arcaze device found!")

	end
end


if (my_arcaze_board_switch_panel == nil) then
	logMsg("No Arcaze Board has not been found!")

else

	print("Aircraft Script for SSG Boeing 747-8 ( ",  AIRCRAFT_FILENAME, " ) has been loaded")
	
	BOARD_A01=0
	BOARD_A02=1
	BOARD_A03=2
	BOARD_A04=3
	BOARD_A05=4
	BOARD_A06=5
	BOARD_A07=6
	BOARD_A08=7
	BOARD_A09=8
	BOARD_A10=9
	BOARD_A11=10
	BOARD_A12=11
	BOARD_A13=12
	BOARD_A14=13
	BOARD_A15=14
	BOARD_A16=15
	BOARD_A17=16
	BOARD_A18=17
	BOARD_A19=18
	BOARD_A20=19
	BOARD_B01=20
	BOARD_B02=21
	BOARD_B03=22
	BOARD_B04=23
	BOARD_B05=24
	BOARD_B06=25
	BOARD_B07=26
	BOARD_B08=27
	BOARD_B09=28
	BOARD_B10=29
	BOARD_B11=30
	BOARD_B12=31
	BOARD_B13=32
	BOARD_B14=33
	BOARD_B15=34
	BOARD_B16=35
	BOARD_B17=36
	BOARD_B18=37
	BOARD_B19=38
	BOARD_B20=39
	
	dataref("parking_break_b748", "sim/flightmodel/controls/parkbrake", "readable")	
	dataref("right_inner_gear_status", "sim/aircraft/parts/acf_gear_deploy", "readable",1)
	dataref("left_inner_gear_status", "sim/aircraft/parts/acf_gear_deploy", "readable",2)
	dataref("right_outer_gear_status", "sim/aircraft/parts/acf_gear_deploy", "readable",3)
	dataref("left_outer_gear_status", "sim/aircraft/parts/acf_gear_deploy", "readable",4)
	dataref("nose_gear_status", "sim/aircraft/parts/acf_gear_deploy", "readable",0)
		
		
	-- fire test ssg/Fire/fire_test_sw (0,1)
	-- light test ssg/Elec/ovhd__lt_dimm_sw (-1,0,1)
	
	local clock = os.clock
	function sleep(n)  -- seconds
	  local t0 = clock()
	  while clock() - t0 <= n do end
	end
		
	-------------------------------------------------------------------------------------------	
	--//----LED TEST---------------------------------------------------------------------------
	-------------------------------------------------------------------------------------------		
		
	function testLEDs(state)
		
		arcaze.set_pin(my_arcaze_board_switch_panel,BOARD_B01,state) -- LED Park Brake
		arcaze.set_pin(my_arcaze_board_switch_panel,BOARD_B02,state) -- LED Left Gear GREEN	
		arcaze.set_pin(my_arcaze_board_switch_panel,BOARD_B03,state) -- LED Nose Gear GREEN		
		arcaze.set_pin(my_arcaze_board_switch_panel,BOARD_B04,state) -- LED Right Gear GREEN	
		arcaze.set_pin(my_arcaze_board_switch_panel,BOARD_B05,state) -- LED Nose Gear RED
		arcaze.set_pin(my_arcaze_board_switch_panel,BOARD_B06,state) -- LED Right Gear RED
		arcaze.set_pin(my_arcaze_board_switch_panel,BOARD_B07,state) -- LED Left Gear RED		
	
	end

-- TEST LEDs Start

	testLEDs(1)
	sleep(4)
	testLEDs(0)
	
-- TEST LEDs End


	-------------------------------------------------------------------------------------------	
	--//----SETTERS FOR LEDS AND BUTTON STATES-------------------------------------------------
	-------------------------------------------------------------------------------------------	
	
	function setParkingBreakLED()
		
		if (parking_break_b748 == 0 or parking_break_b748 == 1) then arcaze.set_pin(my_arcaze_board_switch_panel,BOARD_B01,parking_break_b748) end					
			
	end

	function setGearLEDs()
		
		if (left_inner_gear_status == 0 and left_outer_gear_status == 0) 
			then
				arcaze.set_pin(my_arcaze_board_switch_panel,BOARD_B07,0)
				arcaze.set_pin(my_arcaze_board_switch_panel,BOARD_B02,0)
			else 
				if (left_inner_gear_status < 1 or left_outer_gear_status <1) 
				then 
					arcaze.set_pin(my_arcaze_board_switch_panel,BOARD_B07,1)
					arcaze.set_pin(my_arcaze_board_switch_panel,BOARD_B02,0)
				else 
					arcaze.set_pin(my_arcaze_board_switch_panel,BOARD_B02,1)
					arcaze.set_pin(my_arcaze_board_switch_panel,BOARD_B07,0)
				end
		end			

		if (right_inner_gear_status == 0 and right_outer_gear_status == 0)
			then
				arcaze.set_pin(my_arcaze_board_switch_panel,BOARD_B06,0)
				arcaze.set_pin(my_arcaze_board_switch_panel,BOARD_B04,0)
			else 

				if (right_inner_gear_status < 1 or right_outer_gear_status <1) 
					then 
						arcaze.set_pin(my_arcaze_board_switch_panel,BOARD_B06,1)
						arcaze.set_pin(my_arcaze_board_switch_panel,BOARD_B04,0)
					else 
						arcaze.set_pin(my_arcaze_board_switch_panel,BOARD_B04,1)
						arcaze.set_pin(my_arcaze_board_switch_panel,BOARD_B06,0)
				end		
		end

		if (nose_gear_status == 0)
			then 
				arcaze.set_pin(my_arcaze_board_switch_panel,BOARD_B05,0)
				arcaze.set_pin(my_arcaze_board_switch_panel,BOARD_B03,0) 
			else

				if (nose_gear_status < 1) 
					then 
						arcaze.set_pin(my_arcaze_board_switch_panel,BOARD_B05,1)
						arcaze.set_pin(my_arcaze_board_switch_panel,BOARD_B03,0)
					else 
						arcaze.set_pin(my_arcaze_board_switch_panel,BOARD_B03,1)
						arcaze.set_pin(my_arcaze_board_switch_panel,BOARD_B05,0)
				end			
		end
			
	end


-- AccelButton(button_up, button_down, dtref, threshold, max_accel, multiplier, increment, index, time)
-- button_up. button_down: numbers of the hardware buttons
-- dtref: dataref to be handled
-- threshold: how many clicks before acceleration kicks in
-- max_accel: maximum increment units per click
-- multiplier: the bigger this number, the bigger the acceleration. default 3
-- increment: size of an increment unit, you almost always want 1
-- index: index of the dataref table; defaults to 0
-- time: how long in the past the clicks are being counted

-- Knob acceleration config	
	-- AccelButton(button_up, button_down, dtref,threshold, max_accel, multiplier, increment, index, time)
	-- altitude_bug = AccelButton(0,1, "ssg/B748/MCP/mcp_alt_target_act", 2, 1000, 100, 100, 0, 1)
	-- heading_bug = AccelButton(2,3, "ssg/B748/MCP/mcp_heading_bug_act", 2, 10, 10, 1, 0, 1)
	-- speed_bug = AccelButton(4,5, "ssg/B748/MCP/mcp_ias_mach_act", 2, 10, 10, 1, 0, 1)
	-- vs_bug = AccelButton(6,7, "ssg/B748/MCP/mcp_vs_target_act", 2, 1000, 100, 100, 0, 1)
	-- baro_bug = AccelButton(8,9, "ssg/PFD/baro_act", 3, 100, 10, 1, 0, 1)
	
-- per frame function calls
	--do_every_frame("altitude_bug.operate()")
	--do_every_frame("heading_bug.operate()")
	--do_every_frame("speed_bug.operate()")
	--do_every_frame("vs_bug.operate()")
	--do_every_frame("baro_bug.operate()")
	
	do_every_frame("setParkingBreakLED()")
	do_every_frame("setGearLEDs()")
	do_on_exit("testLEDs(0)")

end